body {
  width: 300px;
  height: 600px;
  margin: 0;
  padding: 10px;
}

#registration-form {
  width: 90%;
  height: 300px;
  /*border: 1px solid #000;*/
}

#btn-go-to-register {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

#btn-go-to-auth {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  /*border: 1px solid #000;*/
}

.popup-info {
  height: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.popup-section {
  width: 90%;
  height: 200px;
  border: 1px solid #000;
}

.btn-change-content-category {
  width: 100px;
  height: 50px;
}
